*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}

.login{
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  gap: 0 8px;
}

.login div{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.icon{
  font-size: 1.3rem;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}
.logo h1{
  width: 120px;
  height: fit-content;
}

.nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  gap: 0 24px;
}
.nav{
  position: relative;
}
.nav .search{
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0 4px;
}

.contents{
  max-width: 1600px;
  padding:  0 16px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
}
.contents .box{
  border: 1px solid #efefef;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}
.contents ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
}
.contents .box img{
  transition: .5s;
}
.contents .box:hover img{
  scale: 1.05 1.05;
}


.idpw{
  max-width: 700px;
  margin: 100px auto;
  border: 1px solid #efefef;
  padding: 40px 32px;
  position: relative;
}

.idpw label{
  width: 80px;
}
.idpw .id{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 30px;
}
.idpw .id input{
  width: 100%;
  height: 80%;
  padding-left:24px;
}

.idpw .pw{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 30px;
}

.idpw .pw input{
  width: 100%;
  height: 80%;
  padding-left: 24px;
}

.idpw button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.productdetail{
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  gap: 0 32px;
  height: fit-content;
}

.productdetail .inner{
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.productdetail .inner ul{
  display: flex;
  gap: 32px;
}

@media screen and (max-width:1200px) {
  .contents{
    grid-template-columns: repeat(3,1fr);
  }
  .contents h3{
    font-size: 1.15rem;
  }
}

@media screen and (max-width:767px) {
  .contents{
    grid-template-columns: repeat(2,1fr);
  }
}