* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.contents {
  max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.contents ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.contents ul li {
  list-style: none;
}