%outline {
  padding: 1rem;
  border: 2px solide #ddd;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, .75);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.wrap {
  
  .logo-title {
    margin: 2rem 0 3rem 0;
    text-align: center
  }
}



.save-wrap {
  @extend %outline;

  
  .title {
    margin-bottom: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
}

.list-wrap {
  @extend %outline;
}